# covid dataset sep 2020 -  VT report analysis

### Domain Level

In [1]:
import json
import pandas as pd
from collections import Counter
from collections import defaultdict as ddict
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
domain_scan_report_pahth = '/export/sec02/nabeel/ucsc/Vaccine_Disinfo/data/covid_resources/oxford-vaccine-article-domains-shared-on-twitter.csv.scan.report'
domain_scan_report = list(map(json.loads,open(domain_scan_report_pahth,'r').readlines()))

In [3]:
def DF(df):
    data = []
    for i in df:
        try:
            data.append({'domain':i['url'],'positives':i['positives']})
        except:
            pass
    return pd.DataFrame(data)

In [4]:
domain_scan_report_df = DF(domain_scan_report)

In [5]:
domain_scan_report_df.head()

                   domain  positives
0  https://forbes.com.br/          0
1     https://google.com/          1
2        https://xhne.ws/          0
3    https://nbcnews.com/          0
4         https://mol.im/          0

In [6]:
domain_scan_report_df.loc[domain_scan_report_df.positives==1]

                                 domain  positives
1                   https://google.com/          1
63                     https://lnkd.in/          1
66                 https://infobae.com/          1
77                       https://ow.ly/          1
111                     https://bit.ly/          1
...                                 ...        ...
5003            https://attikanea.info/          1
5038        https://circuitoglobal.com/          1
5107              https://elheraldo.co/          1
5154               https://bildblog.de/          1
5223  https://fuentesfidedignas.com.mx/          1

[114 rows x 2 columns]

In [7]:
temp = Counter(list(domain_scan_report_df.positives))
result = ddict(list)
for i in sorted(temp.keys()):
    result['positives'].append(i)
    result['positives count'].append(temp[i])
result = pd.DataFrame(result)

In [8]:
result

   positives  positives count
0          0             5206
1          1              114
2          2               15
3          3                3
4          5                1
5          6                1
6          7                1

### URL Level

In [9]:
url_scan_report_pahth1 = '/export/sec02/nabeel/ucsc/Vaccine_Disinfo/data/covid_resources/oxford-vaccine-article_urls-shared-on-twitter.csv.1.scan.report'
url_scan_report_pahth2 = '/export/sec02/nabeel/ucsc/Vaccine_Disinfo/data/covid_resources/oxford-vaccine-article_urls-shared-on-twitter.csv.2.scan.report'


url_scan_report = list(map(json.loads,open(url_scan_report_pahth1,'r').readlines())) + list(map(json.loads,open(url_scan_report_pahth2,'r').readlines()))

In [10]:
url_scan_report_df = DF(url_scan_report)

In [11]:
url_scan_report_df.head()

                                              domain  positives
0  https://forbes.com.br/negocios/2020/06/astraze...          0
1  https://www.google.com/amp/s/www.elespanol.com...          0
2                               http://xhne.ws/yXuub          0
3  https://www.nbcnews.com/health/health-news/lar...          0
4  https://mol.im/a/8684869%20http:/dailym.ai/and...          0

In [12]:
url_scan_report_df.loc[url_scan_report_df.positives==1]

                                                  domain  positives
64                               https://cutt.ly/4fzBosk          1
75      https://lnkd.in/ebK-ScW%20https:/lnkd.in/eSxeNiA          1
95                              http://ow.ly/qWYO30r7DIV          1
138                               https://bit.ly/2GcaKKm          1
152    https://mailchi.mp/3fa3cde81895/dialoguemos-12...          1
...                                                  ...        ...
14497                            https://cutt.ly/tfT3H3K          1
14501                            https://cutt.ly/XfT2E6a          1
14663                          http://owl.li/dFwu30r98IR          1
14702                            https://cutt.ly/jfT7NnN          1
14731                             https://bit.ly/2RdpQl6          1

[274 rows x 2 columns]

In [13]:
temp_url = Counter(list(url_scan_report_df.positives))
result_url = ddict(list)
for i in sorted(temp_url.keys()):
    result_url['positives'].append(i)
    result_url['positives count'].append(temp_url[i])
result_url = pd.DataFrame(result_url)

In [14]:
result_url

   positives  positives count
0          0            14512
1          1              274
2          2               44
3          3                5
4          6                1