In [1]:
import pandas as pd

In [2]:
dfw1 = pd.read_csv('dataset_aug_2020_domain_Alexa.csv',delimiter="#")
dfw2 = pd.read_csv('dataset_sep_2020_domain_Alexa.csv',delimiter="#")

In [3]:
dfw1.head(5)

,domain,dates,rank
0,reddit.com,"['2020-05-31', '2019-09-06', '2020-01-31', '20...","[20, 19, 19, 16, 15, 20, 6, 18, 20, 19, 19, 9,..."
1,fr.sputniknews.com,[],[]
2,minci.gob.ve,"['2020-06-19', '2019-07-28', '2019-07-08', '20...","[134602, 149694, 224128, 346616, 114792, 14535..."
3,sptnkne.ws,"['2020-03-15', '2020-01-10', '2020-01-25', '20...","[273777, 766791, 457720, 259933, 117300, 48888..."
4,hispanosaldia.com,"['2020-06-13', '2020-06-18', '2019-11-21', '20...","[341733, 266541, 409417, 368762, 219539, 82490..."

In [4]:
dfw2.head(5)

,domain,dates,rank
0,forbes.com.br,"['2020-05-04', '2020-01-07', '2020-02-04', '20...","[36927, 82761, 79569, 119060, 105144, 90032, 4..."
1,google.com,"['2020-07-20', '2019-08-10', '2019-07-05', '20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,xhne.ws,"['2019-06-20', '2019-06-17']","[425854, 334129]"
3,nbcnews.com,"['2019-05-24', '2020-07-30', '2019-12-18', '20...","[919, 1867, 830, 1001, 722, 575, 860, 445, 629..."
4,mol.im,"['2019-07-05', '2020-06-12']","[686897, 360013]"